
<div class="row">
    <h2 class="text-center text-info">Cart</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Quantity</th>
                <th>Price</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let c of carts">
              <td>{{c.Product.Title | lowercase}}</td>
              <td>{{c.qOrder}}</td>
              <td>{{c.Total | currency:"&#8377;"}}</td>
              <td><button class="btn btn-danger" (click)="removeFromCart(c)">Remove Item</button></td>
            </tr>
        </tbody>

    </table>
</div>

